# Anova Test

In [4]:
import pandas as pd
import numpy as np
from sklearn import datasets
from scipy import stats

In [5]:
# load the dataset
iris= pd.read_csv("C:/Users/Computer/Desktop/Iris.csv")
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
# Get the column / feature names 
iris.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [11]:
iris.Species

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [19]:
iris1 = iris.drop(['Species','Id'], axis = 1)
iris1

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [23]:
iris2 = iris1.rename(columns={'SepalLengthCm':'0','SepalWidthCm':"1","PetalLengthCm":"2","PetalWidthCm":"3"})
iris2

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [24]:
# Converting array into tabular format using DataFrame (for non-pandas array)
df=pd.DataFrame(iris1.data)
df

AttributeError: 'DataFrame' object has no attribute 'data'

In [25]:
# Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)
p_value=stats.f_oneway(iris2.iloc[:,0],iris2.iloc[:,1],iris2.iloc[:,2],iris2.iloc[:,3])
p_value

F_onewayResult(statistic=483.57128302425997, pvalue=3.4996987081933735e-159)

In [26]:
p_value[1]  # compare it with Î± = 0.05

3.4996987081933735e-159

# Chi2 Test

We want to determine whether there is a statistically significant association between smoking and being a professional athlete.

Smoking can only be "yes" or "no" and being a professional athlete can only be "yes" or "no".

The two variables of Interest are qualitative variables , so we need to use a Chi-Square test of Independence , and the data have been collected on 28 persons.

              Non-Smoker Smoker Total
    
Athelete       14          4      18

Non-Athelete   0           10     10

Total          14          14      28

In [27]:
import numpy as np
from scipy.stats import chi2_contingency

In [28]:
# Make 2-dimensional array
obs=np.array([[14,4],[0,10]])
obs

array([[14,  4],
       [ 0, 10]])

In [29]:
# Chi2 contengency independence test
chi2_contingency(obs) # o/p is (Chi2 stats value, p_value, df, expected obsvations)

(12.600000000000001,
 0.0003857467556820071,
 1,
 array([[9., 9.],
        [5., 5.]]))

In [30]:
#or
stats, p, df, exp = chi2_contingency(obs) 
print('p_value =',p)

p_value = 0.0003857467556820071

In [31]:
# Compare p_value with Î± = 0.05